<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @seminar.description %>
</p>
s
<p>
  <strong>Title:</strong>
  <%= @seminar.title %>
</p>

<%= link_to 'Edit', edit_seminar_path(@seminar) %> |
<%= link_to 'Back', seminars_path %>


<p>
      <td><%=  @participant.email %></td>
      <td><%=
</p>
