<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @seminar.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @seminar.description %>
</p>

<%= link_to 'Edit', edit_seminar_path(@seminar) %> |
<%= link_to 'Back', seminars_path %>
